
 <%- include ('partials/header')  %>


 <%= user  %>

 
 
 
     <div class="col-5">
        
         <div class="card">
             <div class="card-body">
                 <form action="/logout" method="get">               
                     
         <h1>estamos en el perfil</h1>
                         
                         <button type="submit" class="btn btn-success">
                             deslogear
                         </button>
             
                 </form>
             </div>
         </div>
 
     </div>
 </div>
 
 
 
 
 
 
 
 
 
 
 
 
 <%- include('partials/footer') %>