<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img src="https://www.teledisca.com/wp-content/uploads/2019/01/logo_teledisca.png" id="icon" alt="User Icon" />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           <% if (user[0].rol < 3) { -%>
          <li class="nav-item">
            <a class="nav-link" href="/usuarios">Usuarios</a>
          </li>
        <% } -%>
        <% if (user[0].rol < 5) { -%>
          <li class="nav-item">
            <a class="nav-link" href="/meta">Metas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dash2">Dashboard</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/usuarios">Lista de usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/verOfertas">Todas las ofertas</a>
          </li>
        <% } -%>
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Crear Oferta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ofertasRegistradas">Mis Ofertas </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/logout" tabindex="-1" aria-disabled="true">SALIR</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div class="container">





    
